name: Tests

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.7, 3.0, 3.1, 3.2, 3.3]
        graphql_version: ['~> 1.13', '~> 2.0']
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: ruby/setup-ruby@d354de180d0c9e813cfddfcbdc079945d4be589b # v1.275.0
      with:
        bundler-cache: true
        ruby-version: ${{ matrix.ruby }}
      env:
        GRAPHQL_VERSION: ${{ matrix.graphql_version }}
    - run: bundle exec rake
