name: Tests

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.4, 2.7, '3.1']
        graphql_version: ['~> 1.10.0', '~> 1.13', '~> 2.0']
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        ruby-version: ${{ matrix.ruby }}
      env:
        GRAPHQL_VERSION: ${{ matrix.graphql_version }}
    - run: bundle exec rake
