name: Tests

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.7, 3.0, 3.1, 3.2, 3.3]
        graphql_version: ['~> 1.13', '~> 2.0']
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: ruby/setup-ruby@d697be2f83c6234b20877c3b5eac7a7f342f0d0c # v1.269.0
      with:
        bundler-cache: true
        ruby-version: ${{ matrix.ruby }}
      env:
        GRAPHQL_VERSION: ${{ matrix.graphql_version }}
    - run: bundle exec rake
